@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-bg {
    background-image: url("images/background-landing.png");
    background-repeat: no-repeat;
    background-position: top center;
}